@charset "UTF-8";
.lot__modal-award-name {
  font-size: 18px;
  line-height: 1.3;
  margin: 50px 0 40px;
}
.lot__modal-award-img {
  width: 100px;
}
.lot__modal .modal-img {
  margin-top: 25px;
  padding-bottom: 50px;
}
.lot__modal .modal-img:after {
  content: "";
  width: 100%;
  height: 20px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.lot__back-link {
  display: inline-block;
  position: relative;
  color: rgba(255, 255, 255, 0.4) !important;
  background: #171a1e;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 8px;
  padding: 15px 20px 15px 30px;
  margin-bottom: 40px;
}
.lot__back-link:before {
  content: "";
  position: absolute;
  left: 15px;
  top: 16px;
  width: 1px;
  height: 8px;
  border-right: 2px solid #6d6f74;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition: 0.3s ease;
}
.lot__back-link:after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 16px;
  width: 1px;
  height: 8px;
  border-right: 2px solid #6d6f74;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: 0.3s ease;
}
.lot__main {
  display: flex;
}
.lot__col1 {
  flex: 1 1 65%;
  display: flex;
}
.lot__col2 {
  position: relative;
  flex: 1 1 20%;
  margin-left: 20px;
}
.lot__col2-heading {
  font-size: 16px;
}
.lot__col2 .line-separator {
  margin: 20px 0 10px;
}
.lot__col2 .user-avatar-wrapper {
  min-width: 25px;
  min-height: 25px;
  max-width: 25px;
  max-height: 25px;
  width: 25px;
  height: 25px;
}
.lot__col2 .user-email {
  margin: 0 15px;
  word-break: break-word;
}
.lot__col2 .user-date {
  margin-left: auto;
  color: rgba(255, 255, 255, 0.4);
}
.lot__list {
  display: none;
  padding-right: 20px;
  overflow-y: auto;
  max-height: 390px;
  scrollbar-width: thin;
  scrollbar-color: #a9a9a9 #2f3032;
}
.lot__list.is-active {
  display: block;
}
.lot__list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.lot__list::-webkit-scrollbar-track {
  background: #2f3032;
}
.lot__list::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 10px;
  border: 0px none #000000;
}
.lot__list-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.lot__progress-steps {
  height: 400px !important;
  padding-left: 5px;
}
.lot__progress-steps-wrapper {
  display: none !important;
}
.lot__progress-steps-wrapper.is-active {
  display: flex !important;
}
.lot__progress-steps__btn {
  margin-top: 10px;
  font-size: 12px !important;
  padding: 5px 10px !important;
  color: rgba(255, 255, 255, 0.7);
}
.lot__progress-steps__tracknum {
  position: relative;
  cursor: pointer;
  width: auto !important;
  max-width: 100% !important;
  margin-left: 0 !important;
}
.lot__progress-steps__tracknum .tooltip-text {
  transition: 0.4s ease;
}
.lot__progress-steps__tracknum:hover .tooltip-text {
  visibility: hidden;
  -webkit-appearance: none;
          appearance: none;
  opacity: 0;
}
.lot__progress-steps__tracknum.is-active .tooltip-text {
  visibility: visible;
  -webkit-appearance: auto;
          appearance: auto;
  opacity: 1;
}
.lot__progress-steps__tracknum:after {
  display: inline-block;
  position: relative;
  content: url("../img/icons/copy.svg");
  margin-left: 7px;
}
.lot__progress-steps__smp {
  font-weight: 300;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  line-height: 1.4;
}
.lot__progress-steps__smp span {
  color: rgba(255, 255, 255, 0.7);
}
.lot__progress-steps__bigp {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
}
.lot__progress-steps .progress-step {
  padding-bottom: 50px;
  transition: 0.5s background-image ease !important;
}
.lot__progress-steps .progress-step:not(.lot__progress-steps .progress-step:last-child) .progress-step-heading:after {
  border: 1px solid #2f53ff;
}
.lot__progress-steps .progress-step:before {
  transition: 0.5s background-image ease !important;
}
.lot__progress-steps .progress-step.swiper-slide-prev {
  z-index: 11;
}
.lot__progress-steps .progress-step.swiper-slide-prev:before {
  content: "";
  position: absolute;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(23, 26, 30, 0.8) 30%);
  width: calc(100% + 50px);
  left: -50px;
  top: -200px;
  height: 300px;
  z-index: 12;
}
.lot__progress-steps .progress-step.swiper-slide-next {
  z-index: 11;
}
.lot__progress-steps .progress-step.swiper-slide-next:before {
  content: "";
  position: absolute;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(23, 26, 30, 0.8) 30%);
  width: calc(100% + 50px);
  left: -50px;
  top: -50px;
  height: 250px;
  z-index: 12;
}
.lot__progress-steps .progress-step.is-active .progress-step-heading:before {
  width: 11px;
  height: 11px;
  left: -31px;
  border: 2.5px solid #231f20;
  outline: 2px solid #2f53ff;
  background: #2f53ff;
  z-index: 2;
}
.lot__progress-steps .progress-step-heading {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}
.lot__progress-steps .progress-step-heading:before {
  border-radius: 50%;
  border: 4px solid #2f53ff;
}
.lot__card {
  flex: 1 1 30%;
  background: rgba(128, 137, 176, 0.4);
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.lot__card-visual {
  position: relative;
  flex: 1 1 auto;
  max-height: 310px;
  padding: 50px 0;
}
.lot__card-img {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.lot__card-img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.lot__card-sticker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  font-weight: 400;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.74);
  color: #fff;
  border-radius: 20px;
  padding: 5px 10px 5px 35px;
  line-height: 1.2;
  z-index: 2;
}
.lot__card-sticker:before {
  content: "";
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 13px solid;
  left: 5px;
  top: 5px;
}
.lot__card-sticker.sticker-deposit {
  top: 10px;
  left: 0;
  height: 36px;
}
.lot__card-sticker.sticker-deposit:before {
  border-color: #2f53ff;
}
.lot__card-sticker.sticker-email {
  bottom: 10px;
  left: 0;
  height: 28px;
  padding: 5px 15px 5px 28px;
}
.lot__card-sticker.sticker-email:before {
  border: 9px solid #00a76b;
}
.lot__card-sticker.sticker-email:after {
  position: absolute;
  content: "Победил";
  top: -20px;
  left: 5px;
  font-size: 12px;
}
.lot__card-sticker.sticker-win {
  top: 10px;
  left: 0;
  padding: 5px;
  height: 60px;
  border-radius: 50% !important;
  background: #2f53ff !important;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.lot__card-sticker.sticker-win:before {
  display: none;
}
.lot__card-sticker-bigp {
  font-size: 14px;
  color: inherit;
}
.lot__card-sticker-p {
  font-size: 12px;
  color: inherit;
}
.lot__card-sticker-smp {
  font-weight: 300;
  color: inherit;
}
.lot__card-date {
  display: block;
  position: relative;
  font-size: 24px;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.74);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}
.lot__card-date.is-disabled {
  display: none;
}
.lot__card-date-smp {
  font-size: 12px;
  padding-bottom: 10px;
  text-align: left;
}
.lot__card-date-value {
  display: inline-flex;
  justify-content: space-between;
  margin: 0 auto;
}
.lot__card-date-value span {
  font-weight: 600;
}
.lot__card-text {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.lot__card-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.lot__card-heading-title {
  font-size: 28px;
}
.lot__card-heading-places {
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.4);
  text-align: right;
}
.lot__card-name {
  display: block;
}
.lot__card-cost {
  display: block;
  margin-top: 20px;
}
.lot__card-placesleft {
  display: block;
  color: inherit;
  margin-top: 20px;
}
.lot__card-description {
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}
.lot__card-description.is-active {
  display: block;
}
.lot__card-spoiler {
  position: relative;
  align-self: start;
  font-size: 15px;
  margin: 20px 0;
  padding-right: 20px;
  background: none;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.4);
}
.lot__card-spoiler:before {
  content: "";
  position: absolute;
  right: 10px;
  top: 5px;
  width: 1px;
  height: 8px;
  border: 1px solid #6d6f74;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: 0.3s ease;
}
.lot__card-spoiler:after {
  content: "";
  position: absolute;
  right: 5px;
  top: 5px;
  width: 1px;
  height: 8px;
  border: 1px solid #6d6f74;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition: 0.3s ease;
}
.lot__card-spoiler.is-active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.lot__card-spoiler.is-active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.lot__card-btn {
  display: block;
  align-self: start;
  margin-top: auto;
  font-size: 16px;
  padding: 15px 20%;
  border-radius: 10px;
  transition: 0.3s ease;
  background: none;
}
.lot__card-btn.is-blue {
  color: #fff;
  background: #2f53ff;
}
.lot__card-btn.is-yellow {
  background: #f79e1b;
  color: #fff;
}
.lot__card-btn.is-green {
  background: #00a76b;
  color: #fff;
}
.lot__card-btn.is-white {
  background: #ffffff;
  color: #000;
  font-weight: 500;
}
.lot__card-btn.is-disabled {
  color: rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.07);
}
.lot__card-btn.is-enabled {
  border: 1px solid #2f53ff;
  color: #2f53ff;
}
.lot__card-btn.is-enabled:hover {
  color: #fff;
  background: #2f53ff;
}
.lot__nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 30px;
}
.lot__tags {
  position: relative;
  display: flex;
  margin: 20px -10px -10px;
}
.lot__tags-p {
  position: relative;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);
}
.lot__tag {
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  padding: 15px 30px;
}
.lot__autoclick {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  border-radius: 17px;
  width: 20%;
}
.lot__autoclick input {
  position: relative;
  -webkit-appearance: none;
          appearance: none;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 12px;
  height: 24px;
  width: 40px;
  max-width: 40px;
  min-width: 40px;
  cursor: pointer;
  transition: 0.2s ease;
}
.lot__autoclick input:before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.2s ease;
}
.lot__autoclick input:checked {
  background: #2f53ff;
}
.lot__autoclick input:checked:before {
  left: 18px;
}
.lot__autoclick label {
  margin: 0 15px;
}
.lot__autoclick-settings {
  position: relative;
  background: none;
  width: 24px;
  height: 24px;
  margin-left: auto;
}
.lot__autoclick-settings img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.lot__review {
  margin: 40px 0 60px;
  display: flex;
  justify-content: space-between;
  width: 71.5%;
}
.lot__review-text {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  margin-right: 50px;
}
.lot__review-title {
  font-size: 28px;
  margin-bottom: 15px;
}
.lot__review-date {
  color: rgba(255, 255, 255, 0.4);
}
.lot__review-description {
  margin: 30px 0;
  font-weight: 300;
  line-height: 1.5;
}
.lot__review-email {
  margin: auto auto 0 0;
  display: inline-flex;
  position: relative;
  align-items: center;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.74);
  color: #fff;
  border-radius: 20px;
  padding: 5px 30px 5px 5px;
  line-height: 1;
}
.lot__review-email:before {
  content: "";
  display: inline-block;
  position: relative;
  border-radius: 50%;
  border: 17px solid #00a76b;
  margin-right: 12px;
}
.lot__review-video {
  border-radius: 10px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.lot__review-video-wrapper {
  position: relative;
  flex: 1 1 45%;
  max-height: 500px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lot__review-video-playbtn {
  position: absolute;
  z-index: 50;
  background: rgba(0, 0, 0, 0.74) url("../img/icons/videobtn.svg") center/auto 60% no-repeat;
  border-radius: 20px;
  padding: 15px 12%;
  transition: 0.4s ease;
}
.lot__review-video-playbtn.is-active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 1023px) {
  .lot__col1, .lot__col2 {
    flex: 1 1 100%;
    margin: 0;
  }
  .lot__col1 {
    flex-direction: column;
  }
  .lot__col2 {
    margin-top: 25px;
  }
  .lot__card-btn {
    order: -1;
    width: 100%;
    margin-bottom: 25px;
  }
  .lot__card-text {
    margin: 30px 0 0 0;
  }
  .lot__main {
    flex-wrap: wrap;
  }
  .lot__autoclick {
    width: auto;
  }
  .lot__review {
    margin-top: 100px;
    width: 60%;
    position: relative;
    flex-direction: column;
  }
  .lot__review-text {
    margin-right: 0;
  }
  .lot__review-video-wrapper {
    margin-bottom: 0;
  }
  .lot__review-date {
    max-width: 40%;
    align-self: end;
    text-align: right;
  }
  .lot__review-title {
    position: absolute;
    top: -60px;
    left: 0;
  }
  .lot__review-email {
    max-width: 40%;
    word-break: break-word;
    top: 25px;
    left: 25px;
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.07em;
    background: none;
    padding: 0;
  }
  .lot__review-email:before {
    border: 10px solid #00a76b;
  }
}
@media (max-width: 540px) {
  .lot__review {
    width: 100%;
  }
  .lot__col1 {
    padding-bottom: 90px;
  }
  .lot__card-heading {
    flex-direction: column;
  }
  .lot__card-heading-places {
    order: -1;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
  .lot__card-heading-places span {
    display: inline-block;
    margin: 0 0 0 15px;
  }
  .lot__nav {
    position: relative;
  }
  .lot__autoclick {
    position: absolute;
    left: 25px;
    top: -610px;
    width: calc(100% - 50px);
  }
}