.page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.winer-card-wrapper {
  background: #171a1e;
  border-radius: 17px;
  padding: 25px;
}
.winer-card-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.winer-card-date {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}
.winer-card-nickname {
  position: relative;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.winer-card-nickname:before {
  content: "";
  position: relative;
  display: inline-block;
  border: 11px solid #00a76b;
  margin-right: 10px;
  border-radius: 50%;
}
.winer-card-video {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}
.winer-card-review {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
}
.winer-card-award {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.winer-card-award-name {
  font-size: 24px;
  margin-left: 15px;
  line-height: 1.1;
}
.winer-card-award-visual {
  position: relative;
  background: rgba(128, 137, 176, 0.4);
  border-radius: 17px;
  height: 80px;
  padding: 10px 10px;
  text-align: center;
}
.winer-card-award-visual-name {
  font-size: 8px;
  margin-bottom: 5px;
}
.winer-card-award-visual img {
  padding-bottom: 7px;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}